[submodule "frontend-service"]
	path = frontend-service
	url = git@github.com:stack-haven/avmc-frontend-service.git
[submodule "backend-service"]
	path = backend-service
	url = git@github.com:stack-haven/avmc-backend-service.git
[submodule "mobile-desktop-service"]
	path = mobile-desktop-service
	url = git@github.com:stack-haven/avmc-mobile-desktop-service.git
